@inherits Umbraco.Web.Mvc.UmbracoViewPage

<div class="footer">
    <div class="container">
	    <div class="row">
		    <div class="col-md-4">
			    <ul class="footer_box footertextcolor">
				    <h4>Adress</h4>
					<li>Södergatan 78</li>
					<li>252 27 Helsingborg</li>
				</ul>
			</div>
			<div class="col-md-4">
			    <ul class="footer_box footertextcolor">
					<h4>Social</h4>
					<li>Facebook</li>
					<li>Instagram</li>
				</ul>
			</div>
			<div class="col-md-4">
			    <ul class="footer_box footertextcolor">
					<h4>Contact</h4>
					<li>0707-123456</li>
					<li>soap@soaps.com</li>
				</ul>
			</div>			
		</div>
	</div>
</div>