@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Category>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<body>
     <div class="main">
      <div class="shop_top">
		<div class="container">
			<div class="row ex_box">
				<h3 class="m_2">Categories</h3>
				<div class="col-md-4 team1">
				<div class="img_section magnifier2">
				  <a class="fancybox" href="/soapproducts" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/categorysoap.jpg" class="img-responsive" alt=""><span> </span>
					<div class="img_section_txt">
						Soaps
					</div>
				</a></div>
				</div>
				<div class="col-md-4 team1">
				<div class="img_section magnifier2">
				  <a class="fancybox" href="/accessoriesproducts" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><img src="images/categoryacc.jpg" class="img-responsive" alt=""><span> </span>
					<div class="img_section_txt">
						Accessories
					</div>
				</a></div>
				</div>
		    </div>
		 </div>
	   </div>
	  </div>
</body>