@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Products>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Master.cshtml";
}


<div class="main">
	<div class="shop_top">
		<div class="container">
			<div class="row shop_box-top">
				@foreach (Product product in Model.FeaturedProducts)
                {
					<div class="col-md-3 shop_box">
					<a href="@product.Url" class="product-grid__item">
						<image src="@product.Photos.Url")>
                        <div class="product-grid__item__overlay">
                            <div class="product-grid__item__name">@product.ProductName</div>
                            <div class="product-grid__item__price">@product.Price.ToString("F")</div>
                        </div>
                    </a>
					</div>

                    
                }


				





				
			</div>
		</div>
	</div>
</div>