@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.SoapProducts>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}

<div class="main">
	<div class="shop_top">
		<div class="container">
			<div class="row shop_box-top">
				<div class="col-md-3 shop_box">
					<img src="images/soapnr1.png" class="img-responsive" alt=""/>
					<div class="shop_desc">
						<h3><a href="#">Soap nr.1</a></h3>
						<p>Lorem ipsum consectetuer adipiscing </p>
						<span id="Soapnr.1Price" class="actual">$12.00</span><br>
						<input id="Soapnr.1Antal" type="text" >
						<ul class="buttons">
							<li class="cart"><button id="Soapnr.1Antal" type="button" onclick="buy('Soapnr.1')">Add To Cart</button></li>
							<div class="clear"> </div>
						</ul>
					</div>
				</a></div>
				<div class="col-md-3 shop_box">
					<img src="images/soapnr2.png" class="img-responsive" alt=""/>
						<div class="shop_desc">
							<h3><a href="#">Soap nr.2</a></h3>
							<p>Lorem ipsum consectetuer adipiscing </p>
							<span class="actual">$12.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">Add To Cart</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
				</a></div>
				<div class="col-md-3 shop_box">
					<img src="images/soapnr3.png" class="img-responsive" alt=""/>
					<div class="shop_desc">
						<h3><a href="#">Soap nr.3</a></h3>
						<p>Lorem ipsum consectetuer adipiscing </p>
						<span class="actual">$12.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">Add To Cart</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
				</a></div>
				<div class="col-md-3 shop_box">
					<img src="images/soapnr4.png" class="img-responsive" alt=""/>
					<div class="shop_desc">
						<h3><a href="#">Soap nr.4</a></h3>
						<p>Lorem ipsum consectetuer adipiscing </p>
						<span class="actual">$12.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">Add To Cart</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
				</a></div>
			</div>
			<div class="row">
				<div class="col-md-3 shop_box">
					<img src="images/soapnr5.png" class="img-responsive" alt=""/>
					<div class="shop_desc">
						<h3><a href="#">Soap nr.5</a></h3>
						<p>Lorem ipsum consectetuer adipiscing </p>
						<span class="actual">$12.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">Add To Cart</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
				</a></div>
				<div class="col-md-3 shop_box">
					<img src="images/soapnr6.png" class="img-responsive" alt=""/>
					<div class="shop_desc">
						<h3><a href="#">Soap nr.6</a></h3>
						<p>Lorem ipsum consectetuer adipiscing </p>
						<span class="actual">$12.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">Add To Cart</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
				</a></div>
				<div class="col-md-3 shop_box">
					<img src="images/soapnr7.png" class="img-responsive" alt=""/>
					<div class="shop_desc">
						<h3><a href="#">Soap nr.7</a></h3>
						<p>Lorem ipsum consectetuer adipiscing </p>
						<span class="actual">$12.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">Add To Cart</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
				</a></div>
				<div class="col-md-3 shop_box">
					<img src="images/soapnr8.png" class="img-responsive" alt=""/>
					<div class="shop_desc">
						<h3><a href="#">Soap nr.8</a></h3>
						<p>Lorem ipsum consectetuer adipiscing </p>
						<span class="actual">$12.00</span><br>
						<ul class="buttons">
							<li class="cart"><a href="#">Add To Cart</a></li>
							<div class="clear"> </div>
					    </ul>
				    </div>
				</a></div>
			</div>
		</div>
	</div>
</div>